.login-page {
  padding-top: 8em;
  height: 90vh;
}

@media only screen and (max-width: 600px) {
  .login-page {
    padding-top: 13em;
  }
}

.login-page .flex-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.login-page .flex-container .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.login-page .flex-container .left-side .header-welcome {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.login-page .flex-container .left-side .login-with-google {
  margin-top: 0.8em;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #16a083;
  border-radius: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.login-page .flex-container .left-side .login-with-google:hover {
  background: #138a70;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .login-with-google {
    width: 65%;
  }
}

.login-page .flex-container .left-side .login-with-google span {
  background-color: white;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  padding: 0.4em 0.7em;
  margin: 0 0.4em 0 0;
}

.login-page .flex-container .left-side .login-with-google .log-text {
  margin: 0 auto;
  padding: 0.5em;
  color: white;
}

.login-page .flex-container .left-side .login-with-google .log-text a {
  text-decoration: none;
  color: white;
}

.login-page .flex-container .left-side .or-seperator {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.3em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login-page .flex-container .left-side .or-seperator::after, .login-page .flex-container .left-side .or-seperator::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.login-page .flex-container .left-side .or-seperator::before {
  margin-right: 10px;
}

.login-page .flex-container .left-side .or-seperator::after {
  margin-left: 10px;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .or-seperator {
    width: 65%;
  }
}

.login-page .flex-container .left-side .fullName {
  width: 70%;
}

.login-page .flex-container .left-side .fullName input {
  font-size: 1em;
  width: 100%;
  padding: 0.3em 0.6em;
  outline: none;
  border-style: none;
  border: 1px solid gray;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .fullName {
    width: 65%;
  }
}

.login-page .flex-container .left-side .email-input {
  margin-top: 0.5em;
  width: 70%;
}

.login-page .flex-container .left-side .email-input input {
  font-size: 1em;
  width: 100%;
  padding: 0.3em 0.6em;
  outline: none;
  border-style: none;
  border: 1px solid gray;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .email-input {
    width: 65%;
  }
}

.login-page .flex-container .left-side .password-input {
  margin-top: 0.5em;
  width: 70%;
}

.login-page .flex-container .left-side .password-input input {
  font-size: 1em;
  width: 100%;
  padding: 0.3em 0.6em;
  outline: none;
  border-style: none;
  border: 1px solid gray;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .password-input {
    width: 65%;
  }
}

.login-page .flex-container .left-side .container-div {
  margin-top: 0.8em;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-page .flex-container .left-side .container-div .toggle-remember {
  font-size: 0.9em;
}

.login-page .flex-container .left-side .container-div .forgot-password {
  font-size: 0.7em;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .container-div {
    width: 65%;
  }
}

.login-page .flex-container .left-side .login-button {
  margin-top: 1em;
  width: 70%;
  text-align: center;
  color: white;
  background: #16a083;
  border-radius: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
  padding: 0.3em;
}

.login-page .flex-container .left-side .login-button:hover {
  background: #138a70;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .left-side .login-button {
    width: 65%;
  }
}

.login-page .flex-container .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .flex-container .right-side .content-right {
  width: 65%;
  margin: 0 auto;
}

@media only screen and (max-width: 950px) {
  .login-page .flex-container .right-side {
    padding-top: 1em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.login-page .flex-container .right-side .signup-page {
  text-align: center;
}
/*# sourceMappingURL=signup.css.map */